apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 301678011164.dkr.ecr.us-east-1.amazonaws.com/shopping-site-backend:be88b361223ce7b8d2707e16c629b907ff70bdd1
          ports:
            - containerPort: 5000
